name: Build and Push to ECR

on:
 
  push:
    branches: [ master ]

jobs:
  
  build:
    
    name: Build Image
    runs-on: ubuntu-latest

   
    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Export short commit hash
      id: vars
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-south-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      working-directory: ./src/cicd/docker
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: ${{ steps.vars.outputs.sha_short }}
      run: |
        docker compose build --build-arg AWS_KMS_CMK_ARN=${{ secrets.AWS_KMS_CMK_ARN }}
        docker tag ticketburst-services-search:v0 $ECR_REGISTRY/ticketburst-search:$IMAGE_TAG
        docker tag ticketburst-services-reservation:v0 $ECR_REGISTRY/ticketburst-reservation:$IMAGE_TAG
        docker tag ticketburst-services-checkout:v0 $ECR_REGISTRY/ticketburst-checkout:$IMAGE_TAG
        docker push $ECR_REGISTRY/ticketburst-search:$IMAGE_TAG
        docker push $ECR_REGISTRY/ticketburst-reservation:$IMAGE_TAG
        docker push $ECR_REGISTRY/ticketburst-checkout:$IMAGE_TAG
